<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
<title>PLANOS | CBRS</title>
</head>

<body style="background:#f1f3f6">
<div>
	<div>
		<div>

			<div style="width:100%;">
				<table align="center">
					<tbody>
						<tr>
							<td><p align="center" style="margin-bottom: 5px;">
									<br> <img src="https://www.conservador.cl/portal/bootstrap/img/logo_mail.png">
								</p>

								<table cellpadding="0" cellspacing="0" align="center" bgcolor="#FFFFFF" style="min-width: 400px;width: 100%;max-width: 600px;">
									<tbody>
										<tr>
											<td valign="top" align="center"><table cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" style="width: 100%;padding-top: 20px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;background-color: #fff; border: 1px solid transparent; box-shadow:0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);min-width: 350px; border: 10px solid #d9dde2 !important; min-height: 400px;" width="100%">

													<tbody>
														<tr>
															<td style="vertical-align: top;"><table style="width:100%" width="100%">
																	<tbody>
																		<tr>
																			<td style="text-align: center;">																				                                                            
																				<p style="color:rgb(119, 129, 131);font-size:13px;line-height:145%;text-align:center; text-decoration:underline; font-family: Tahoma, Geneva, sans-serif; font-weight:bold">
																					ACTUALIZACIÓN DE CARÁTULA
																				</p>
																			</td>
																		</tr>
																		<tr>
																			<td>
																				<table cellpadding="2" cellspacing="0" style="width: 100%; font-family: Tahoma, Geneva, sans-serif; font-size: 13px; color:rgb(139, 139, 139);">
																					<tbody>
																					<tr>
																						<td style="font-family: Tahoma, Geneva, sans-serif; color:rgb(119, 129, 131); padding: 10px 10px 0 5px; width:115px; font-weight: bold;">
																							N° Car&aacute;tula
																						</td>
																						<td style="font-family: Tahoma, Geneva, sans-serif; text-align:left; padding: 10px 10px 0 5px; color: #333333;">
																							${caratula}
																						</td>
																					</tr>
																					<tr>
																						<td style="font-family: Tahoma, Geneva, sans-serif; color:rgb(119, 129, 131); padding: 10px 10px 0 5px;  font-weight: bold;">
																							Fecha
																						</td>
																						<td style="font-family: Tahoma, Geneva, sans-serif; text-align: left; padding: 10px 10px 0 5px; color: #333333;">
																							${bitacoraDTO.fecha?string["dd-MM-yyyy HH:mm:ss"]}
																						</td>
																					</tr>
																					</tbody>
																					</table>
																					
																					<table cellpadding="2" cellspacing="0"
																						style="margin-top: 20px; border: 1px solid #cccccc; width: 100%; font-family: Tahoma, Geneva, sans-serif; font-size: 13px; color:rgb(139, 139, 139);">
																						<thead>
																							<tr style="background-color: #f1f1f1;">
																								<td
																									style="font-family: Tahoma, Geneva, sans-serif; border-bottom: 1px solid #cccccc; height: 30px; padding-left: 7px; font-weight: bold;">Observaci&oacute;n</td>
																							</tr>
																						</thead>
																						<tbody>
																							<tr>
																								<td
																									style="font-family: Tahoma, Geneva, sans-serif; border-bottom: 1px solid #cccccc; text-align: center; padding: 10px 10px 0 5px; color: #333333;">${bitacoraDTO.comentario}</td>
																							</tr>
																						</tbody>
																					</table>

																				</td>
																		</tr>

										 </td>
										</tr>
                                      </tbody>
									</table>
									<p style="font-size:11px;font-family:Arial,Helvetica,sans-serif;color:rgb(139,139,139)" align="center">&iquest;Tiene alguna duda o necesita ayuda? Cont&aacute;ctenos al 22390-0878. (Horario de Atenci&oacute;n Lunes a Viernes de 8:30 a 15:00 hrs.)</p>
                                    </td>
									</tr>
									</tbody>


									</table>																	
                                    </td>
									</tr>
									</tbody>
								</table>
                                </td>
						</tr>
					</tbody>
				</table>
                
				<p align="center" style="color: #737579 !important;font-size: 0.7em; font-family:Arial, Helvetica, sans-serif;padding-top: 0;margin-top: 10px;">© 2017
						Conservador de Bienes Ra&iacute;ces de Santiago - Todos los Derechos
						Reservados&nbsp;
				</p>
			</div>
		</div>
	</div>



</div>














</body>
</html>
