<div class="panel panel-default">
    <div class="panel-heading panel-heading-aio handle unselectable">
        <span ng-include="'views/estado/tools.html'">

        </span>

        Citado</div>
    <div class="panel-heading panel-toolbar" ng-hide="area.collapsed" ng-if="!req.simpleMode && subPermisos['estado'].indexOf('EDITAR_CITADO')>=0 && data.status!=null && !anulada && data.res.caratulaDTO.citadoDTOs.length==1">
        <button type="button" class="btn btn-primary btn-xs btn-rad" ng-click="openCitadoModal()">
            <i class="fa fa-edit"></i>  Editar datos
        </button>
    </div>
    <div class="panel-body estado-content-padding" ng-hide="area.collapsed">


        <form class="form-inline" role="form">
        
        
    <div class="panel-body no-padding" ng-hide="area.collapsed">
        <table class="table hover table-bordered">
            <thead>
            <tr>
                <th class="estado-table-title">Registro</th>
                <th class="estado-table-title">Foja</th>
                <th class="estado-table-title">Número</th>
                <th class="estado-table-title">Año</th>
                <th class="estado-table-title">Bis</th>
                <th class="estado-table-title">Ver</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="sol in data.res.caratulaDTO.citadoDTOs">
                <td class="estado-table-td">                                    
                					<span ng-switch on="sol.registroDTO.id">
                                        <span ng-switch-when="1" class="label label-prop label-registro">Propiedad</span>
                                        <span ng-switch-when="2" class="label label-hipo label-registro">Hipotecas</span>
                                        <span ng-switch-when="3" class="label label-proh label-registro">Prohibiciones</span>
                                        <span ng-switch-when="4">Comercio</span>
                                        <span ng-switch-when="5">Aguas</span>
                                        <span ng-switch-default></span>
                                    </span>
                </td>
                <td class="estado-table-td">{{sol.foja}}</td>
                <td class="estado-table-td">{{sol.numero}}</td>
                <td class="estado-table-td">{{sol.ano}}</td>
                <td class="estado-table-td">
                                <p class="estado-display-field">
                                    <i ng-if="sol.bis" class="fa fa-check"></i>
                                </p>
                </td>
                <td class="estado-table-td">							
                			<div class="form-control-static">
								<button type="button" class="btn btn-primary btn-sm btn-rad"
									ng-click="verTitulo(sol)" ng-show="sol.registroDTO.id===1">
									<i class="fa fa-search"></i>
								</button>
								<button type="button" class="btn btn-primary btn-sm btn-rad"
									ng-click="verTipoImagenHipo(sol)" ng-show="sol.registroDTO.id===2">
									<i class="fa fa-search"></i>
								</button>
								<button type="button" class="btn btn-primary btn-sm btn-rad"
									ng-click="verTipoImagenProh(sol)" ng-show="sol.registroDTO.id===3">
									<i class="fa fa-search"></i>
								</button>
							</div>
				</td>
            </tr>
            </tbody>
        </table>
    </div>        
        
        
            
        </form>
    </div>
</div>


 <!-- Modal Edit datos-->
<div class="modal fade" id="edit-dat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Citado > <small class="color">Editar datos</small></h4>
      </div>
      <div class="modal-body row-bottom-10 formulario col-md-12-espacio-bottom">
        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
               <div class="col-md-12">
                <span>Registro</span>
                <input type="text" class="form-control">
               </div>
               <div class="col-md-12">
                <span>Foja</span>
                <input type="text" class="form-control">
               </div>
               <div class="col-md-12">
                <span>Número</span>
                <input type="text" class="form-control">
               </div>
               <div class="col-md-12">
                <span>Año</span>
                    <input type="text" class="form-control">
               </div>
                <div class="col-md-12">
                <span>Bis</span>
                  <label><input type="checkbox" name="checkbox-bis" checked data-size="small" data-on-text="Si" data-off-text="No"></label>
               </div>
    </div>
   
        </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        
      </div>
    </div>
  </div>
</div>


<!--fin modal  Edit datos-->

<script type="text/javascript">
  $("[name='checkbox-bis']").bootstrapSwitch();
</script>
