<div class="panel panel-default">
    <div class="panel-heading panel-heading-aio handle unselectable">
        <span ng-include="'views/estado/tools.html'">

        </span>

        <div class="loader loader-xs" ng-show="data.status && !data.statusDocumentosEntrega"></div> Documentos Entrega</div>
	    <div class="panel-heading panel-toolbar" ng-hide="area.collapsed" ng-if="subPermisos['estado'].indexOf('VINCULAR_DOCUMENTOS') >= 0 && data.res.entregaEnLineaDTO.estado && data.res.entregaEnLineaDTO.documentos.length>0 && !req.simpleMode && data.status!=null && !anulada" >
			<button type="button" class="btn btn-primary btn-xs btn-rad" ng-click="openDocumentosEntregaModal()" >
	            <i class="fa  fa-share-alt"></i>  Vincular
	        </button>
	    </div>         
    <div class="panel-body no-padding" ng-hide="area.collapsed">
        <form class="form-inline" role="form" ng-if="data.res.entregaEnLineaDTO.estado===false">
            <fieldset>

                        <div class="form-control-static text-center bgcolor-warning">
                            <p class="estado-transparent-field">
                                <i class="fa fa-warning"></i>
                                {{data.res.entregaEnLineaDTO.mensaje}}
                            </p>
                        </div>

            </fieldset>
        </form>
        <table class="hover table-bordered" ng-if="data.res.entregaEnLineaDTO.estado">
            <thead>
            <tr>
                <th class="estado-table-title">Documento</th>
                <th class="estado-table-title text-center">Descargar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="doc in data.res.entregaEnLineaDTO.documentos">
                <td class="estado-table-td">{{doc.tipoDocumentoDTO.descripcion}}</td>
                <td class="estado-table-td text-center">

                    <a  class="btn btn-primary btn-xs btn-rad"  ng-click="downloadFirma(doc)">
                        <i class="fa fa-download"></i>
                    </a>

                </td>
            </tr>

            <tr ng-if="data.res.entregaEnLineaDTO.boleta && data.res.entregaEnLineaDTO.boleta.numero!==null">
                <td class="estado-table-td">Boleta #{{data.res.entregaEnLineaDTO.boleta.numero}}</td>
                <td class="estado-table-td text-center">
                    <a class="btn btn-primary btn-xs btn-rad" ng-click="downloadBoleta(data.res.entregaEnLineaDTO.boleta)">
                        <i class="fa fa-download"></i>
                    </a>
                </td>
            </tr>

            <tr ng-if="!data.res.entregaEnLineaDTO.documentos || data.res.entregaEnLineaDTO.documentos.length===0">
                <td colspan="2" class="estado-table-td text-center text-italic">No hay documentos.</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>