<div class="panel panel-default">
    <div class="panel-heading panel-heading-aio handle unselectable">
        <span ng-include="'views/estado/tools.html'">

        </span>

        <div class="loader loader-xs" ng-show="data.status && !data.statusDocumentos"></div> Escrituras</div>
    <div class="panel-body no-padding" >
        <table class="hover table-bordered">
            <thead>
            <tr>
                <th class="estado-table-title">Versión</th>
                <th class="estado-table-title text-center">Fecha digitalización</th>
                <th class="estado-table-title text-center">Fecha disponible</th>
                <th class="estado-table-title text-center">ver</th>
                <th class="estado-table-title text-center" ng-if="subPermisos['estado'].indexOf('MODIFICAR_ESCRITURA') >= 0">modificar</th>
                <th class="estado-table-title text-center" ng-if="subPermisos['estado'].indexOf('ELIMINAR_ESCRITURA') >= 0">eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="escritura in documentos.escrituras | filter: {vigente: true} "> 
              <td>{{escritura.version}}</td>
              <td>{{escritura.fechaDigitaliza}}</td>
              <td>{{escritura.fechaProcesa}}</td>
			  <td>
                <button ng-click="verDocumentoEstudio(escritura)" class="btn btn-xs btn-primary" tooltip="Ver Documento" tooltip-placement="top">
                   <i class="fa fa-file-pdf-o"></i> 
                </button>
              </td>
              <td ng-if="subPermisos['estado'].indexOf('MODIFICAR_ESCRITURA') >= 0">
              	  <a  href="cbrsVisor:{{req.numeroCaratula}}">
       				<button  type="button" class="btn btn-primary btn-xs btn-rad" tooltip="Modificar Escritura" tooltip-placement="top"> <i class="fa fa-pencil"></i></button>
       			  </a>  
	          </td>
	          <td ng-if="subPermisos['estado'].indexOf('ELIMINAR_ESCRITURA') >= 0">
				<button ng-show="escritura.vigente" class="btn btn-danger btn-xs"
					ng-click="removeVersion(escritura)" tooltip="Eliminar" tooltip-placement="top">
					<i class="fa fa-trash-o"></i>
				</button>	          
	          </td>
            </tr>
            <tr style="text-decoration:line-through;" ng-hide="area.collapsed" ng-repeat="escritura in documentos.escrituras | filter: {vigente: false} "> 
              <td >&nbsp;{{escritura.version}}&nbsp;</td>
              <td>{{escritura.fechaDigitaliza}}</td>
              <td>{{escritura.fechaProcesa}}</td>
			  <td>
                <button ng-click="verDocumentoEstudio(escritura)" class="btn btn-xs btn-primary" tooltip="Ver Documento" tooltip-placement="top">
                   <i class="fa fa-file-pdf-o"></i> 
                </button>
              </td>
              <td ng-if="subPermisos['estado'].indexOf('MODIFICAR_ESCRITURA') >= 0">
              	  <a  href="cbrsVisor:{{req.numeroCaratula}}">
       				<button  type="button" class="btn btn-primary btn-xs btn-rad" tooltip="Modificar Escritura" tooltip-placement="top"> <i class="fa fa-pencil"></i></button>
       			  </a>  
	          </td>
	          <td ng-if="subPermisos['estado'].indexOf('ELIMINAR_ESCRITURA') >= 0">
				<button ng-show="escritura.vigente" class="btn btn-danger btn-xs"
					ng-click="removeVersion(escritura)" tooltip="Eliminar" tooltip-placement="top">
					<i class="fa fa-trash-o"></i>
				</button>	          
	          </td>
            </tr>            
            </tbody>
        </table>
    </div>
</div>