<div class="panel panel-default">
    <div class="panel-heading panel-heading-aio handle unselectable">
        <span ng-include="'views/estado/tools.html'">

        </span>

        <div class="loader loader-xs" ng-show="data.status && !data.statusPosesionEfectiva"></div> Posesión Efectiva</div>
    <div class="panel-body no-padding" >
        <table class="hover table-bordered">
            <thead>
            <tr>
                <th class="estado-table-title">Folio</th>
                <th class="estado-table-title text-center">Causante</th>
                <th class="estado-table-title text-center">Fecha defunción</th>
                <th class="estado-table-title text-center">Tipo</th>
                <th class="estado-table-title text-center">Ver</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="posesionEfectiva in data.res.caratulaDTO.posesionEfectivaDTOs "> 
              <td>{{posesionEfectiva.folio}}</td>
              <td>{{posesionEfectiva.causante.nombreCausante}}</td>
              <td>{{posesionEfectiva.causante.fechaDefuncion}}</td>
              <td>{{posesionEfectiva.titulo}}</td>
			  <td>
                <button ng-click="verPosesionEfectiva(posesionEfectiva)" class="btn btn-xs btn-primary" tooltip="Ver Documento" tooltip-placement="top">
                   <i class="fa fa-file-pdf-o"></i> 
                </button>
              </td>
            </tr>
            <tr ng-if="!data.res.caratulaDTO.posesionEfectivaDTOs || data.res.caratulaDTO.posesionEfectivaDTOs.length===0">
                <td colspan="6" class="estado-table-td text-center text-italic">No hay posesión efectiva.</td>
            </tr>
            
                      
            </tbody>
        </table>
    </div>
</div>