<script type="text/ng-template" id="requirenteModal.html">
<form role="form" name="aform" id="aform">
	<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Requirente > <small class="color">Editar Requirente</small></h4>
      </div>
      <div class="modal-body row-bottom-10 formulario col-md-12-espacio-bottom">
        <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
               <div class="col-md-12">
                <span>Nombres o Raz&oacute;n Social</span>
                <input type="text" name="nombre" id="nombre" class="form-control" ng-model="requirente.nombres" required="required" autofocus="" focus-input ="nombreIsFocused">
               </div>
          </div>   
        </div>
        <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
               <div class="col-md-6">
                <span>Apellido Paterno</span>
                <input type="text" name="apellidoPaterno" id="apellidoPaterno" class="form-control" ng-model="requirente.apellidoPaterno" required="required" autofocus="" focus-input ="apellidoPaternoIsFocused">
               </div>
           
               <div class="col-md-6">
                <span>Apellido Materno</span>
                <input type="text" name="apellidoMaterno" id="apellidoMaterno" class="form-control" ng-model="requirente.apellidoMaterno" required="required" autofocus="" focus-input ="apellidoMaternoIsFocused">
               </div>
			</div>
        </div>
        <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
               <div class="col-md-12">
                <span>Email</span>
                <input type="email" name="email" id="email" class="form-control" placeholder="ejem: name@gmail.com" ng-model="requirente.email" required="required" autofocus="" focus-input ="emailIsFocused">
               </div>
          </div>   
        </div>
        <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
               <div class="col-md-12">
                <span>Direcci&oacute;n</span>
                <input type="text" name="direccion" id="direccion" class="form-control" ng-model="requirente.direccion" required="required" autofocus="" focus-input ="direccionIsFocused">
               </div>
          </div>   
           <div class="col-xs-8 col-xs-offset-2">
               <div class="col-md-12">
                <span>Tel&eacute;fono</span>
                <input type="text" name="telefono" id="telefono" class="form-control" ng-model="requirente.telefono" required="required" autofocus="" focus-input ="telefonoIsFocused">
               </div>
          </div>
        </div>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="updateRequirente()" ng-disabled="aform.$invalid || aform.$pristine">Guardar</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>        
      </div>
</form>
</script>