<div class="panel panel-default">
    <div class="panel-heading panel-heading-aio handle unselectable">
        <span ng-include="'views/estado/tools.html'">

        </span>

        Tareas solicitadas</div>
    <div class="panel-heading panel-toolbar" ng-hide="area.collapsed"  ng-if="!req.simpleMode && subPermisos['estado'].indexOf('EDITAR_TAREA') >= 0 && data.status!=null && !anulada">
        <button type="button" class="btn btn-primary btn-xs btn-rad" ng-click="openTareasModal('add')">
            <span class="fa fa-plus"></span> Agregar tarea
        </button>
    </div>
    <div class="panel-body no-padding" ng-hide="area.collapsed">
        <table class="hover table-bordered">
            <thead>
            <tr>
                <th class="estado-table-title">Tareas</th>
                <th class="estado-table-title text-center">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in data.res.caratulaDTO.tareaDTOs">
                <td class="estado-table-td">{{task.descripcion}}</td>
                <td class="estado-table-td text-center" >
                    <button ng-if="!req.simpleMode && subPermisos['estado'].indexOf('EDITAR_TAREA') >= 0 && data.status!=null && !anulada" class="btn btn-xs btn-danger btn-rad" ng-if="data.res!=null" ng-click="openTareasModal('remove', task)"> <i class="fa fa-times"></i> </button> </td>
            </tr>
            <tr ng-if="!data.res.caratulaDTO.tareaDTOs || data.res.caratulaDTO.tareaDTOs.length===0">
                <td colspan="2" class="estado-table-td text-center text-italic">No hay datos.</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>