<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/ng-template" id="estadoIndiceModal.html">

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
	<h3>Estado Caratula #{{numeroCaratula}}</h3>
</div>
<div class="modal-body">
  <estado-indice simple-mode=true numero-caratula={{numeroCaratula}}></estado-indice>	
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="cancel()">Cerrar</button>
</div>

</script>