<script type="text/ng-template" id="rehacerImagenModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h3 class="mtmb5">Motivo Rehacer Imagen #{{dataImagen.numeroCaratula}}</h3>
    </div>
	<div ng-if="states.isError" class="row mt35">
	    <div class="col-md-6 col-md-offset-3">
	         <div class="block-transparent">
	             <div class="content">
	                 <div class="text-center">
	                     <p class="label label-danger">{{states.msg}}</p>
	                 </div>
	             </div>
	         </div>
	     </div>
	</div>
	<div ng-if="states.isOk" class="row mt35">
	    <div class="col-md-6 col-md-offset-3">
	         <div class="block-transparent">
	             <div class="content">
	                 <div class="text-center">
	                     <p class="label label-success">{{states.msg}}</p>
	                 </div>
	             </div>
	         </div>
	     </div>
	</div>
    <form role="form" name="rform" id="rform">
        <div class="modal-body">
            <div class="form-group">
                <label for="detalle">Motivo</label>
                <textarea class="form-control" rows="5" maxlength="100" ng-model="rehacerImagen.motivo" id="motivo" name="motivo" focus-input ="detalleIsFocused"
                          loading-state="savingRehacerImagen" required="required"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-default btn-rad" loading-state="savingRehacerImagen" ng-click="close()">Cerrar</button>
            <button type="submit" class="btn  btn-primary btn-rad" data-loading-text="Enviando..." loading-state="savingRehacerImagen"  ng-disabled="rform.$invalid"
                    ng-click="saveRehacerImagen()">Rehacer</button>
        </div>
    </form>
</script>
