<script type="text/ng-template" id="solicitarModal.html">

    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h3>&nbsp;</h3>
    </div>

    <div class="modal-body modal-body-solicitar">
        <div class="bs-callout bs-callout-warning" ng-if="!pasoPreSolicitar">
            <h4>Solicitar</h4>
            <p>Dependiendo del título solicitado, recibirá un libro o una digitalización al día.</p>
            <form ng-submit="preSolicitar()" role="form" name="sform" id="sform">
                <div class="row mt15">

                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Foja
                            </label>
                            <input type="text" class="form-control" focus-input ="sfojaIsFocused" loading-state="isLoadingSolicitar"
                                   ng-model="solicita.foja" name="sfoja" placeholder="foja"  maxlength="6" autofocus="true" required="required"
                                   enter-next="" numbers-only="numbers-only">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="snumero">Número
                            </label> <input type="text" class="form-control" ng-model="solicita.numero" loading-state="isLoadingSolicitar"
                                            id="snumero" name="snumero" placeholder="número" maxlength="6" required="required" enter-next="" numbers-only="numbers-only">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">

                        <div class="form-group">
                            <label class="control-label">Año</label>
                            <input type="text" class="form-control" ng-class="{'error-field': (sform.sano.$error.archivoNacional || sform.sano.$error.anoActual) && !sform.sano.$pristine}" ng-model="solicita.ano" name="sano" placeholder="año"
                                   maxlength="4" loading-state="isLoadingSolicitar" required="required" ng-minlength="4" ng-maxlength="4" ui-validate="{archivoNacional : 'archivoNacional($value)', anoActual: 'anoActual($value)' }"  numbers-only="numbers-only">
                            <div class="error-message" ng-show="sform.sano.$error.archivoNacional && !sform.sano.$pristine">
                                Anterior a 1933 debe ir a Archivo Nacional
                            </div>
                            <div class="error-message" ng-show="sform.sano.$error.anoActual && !sform.sano.$pristine">
                                No debe ser mayor al año actual
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <div class="form-group text-center">
                            <label class="control-label">&nbsp;</label>


                            <div class="checkbox">
                                <label> <input type="checkbox" class="icheck" ng-model="solicita.bis" ng-i-check=""> Bis</label>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <div class="form-group padding-lr-15" ng-if="solicitudStatus.error || solicitudStatus.warning || solicitudStatus.ok">
                        <div class="alert alert-white rounded" ng-class="{'alert-danger': solicitudStatus.error, 'alert-warning': solicitudStatus.warning, 'alert-success': solicitudStatus.ok}">
                            <div class="icon"><i class="fa" ng-class="{'fa-times-circle': solicitudStatus.error, 'fa-warning': solicitudStatus.warning, 'fa-check': solicitudStatus.ok}"></i></div>
                            <strong>{{solicitudStatus.msgTitle}}</strong> <span ng-bind-html="solicitudStatus.msg"></span>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn  btn-default btn-rad" loading-state="isLoadingSolicitar"  ng-click="limpiar()">Limpiar</button>

                        <button type="submit" class="btn  btn-primary btn-rad" data-loading-text="Solicitando..." loading-state="isLoadingSolicitar"  ng-disabled="sform.$invalid" ng-click="preSolicitar()">Solicitar</button>
                    </div>
                </div>

            </form>

        </div>


        <div ng-if="pasoPreSolicitar">
            <button ng-click="volverPreSolicita();"  class="btn btn-primary btn-modal-volver btn-rad">
                <i class="fa fa-arrow-left"></i> Volver
            </button>

            <div ng-if="solicita.tipo==-1">
                <div class="bs-callout bs-callout-mensaje">
                    <h4>No hay imagen al día para Foja {{solicita.foja}} Número {{solicita.numero}} Año {{solicita.ano}} <span ng-if="solicita.bis">bis</span></h4>
                    <p>No puede solicitar, tiene <span class="call-danger">rechazo</span>.</p>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Existe rechazo</h4>
                    <p>Esta misma solicitud de foja, número, año y bis, ya ha sido rechazada anteriormente.</p>
                </div>
            </div>

            <div ng-if="solicita.tipo==7">
                <div class="bs-callout bs-callout-mensaje">
                    <h4>No hay imagen al día para Foja {{solicita.foja}} Número {{solicita.numero}} Año {{solicita.ano}} <span ng-if="solicita.bis">bis</span></h4>
                    <p>Puede <span class="call-sol">solicitar</span>.</p>
                </div>
                <div class="bs-callout bs-callout-warning">
                    <h4>Solicitar</h4>
                    <p>Si solicita recibirá
                        <span ng-if="solicita.esAnoDigital" class="boldie">una digitalización al día.</span>
                    <span ng-if="!solicita.esAnoDigital"><span class="boldie">un libro</span>, aparecerá en el listado de solicitudes como
                        <span class="boldie">Impreso para entrega Manual.</span>
                    </span>
                    </p>

                    <div ng-if="solicitudStatus.error">
                        <div class="alert alert-danger mt15 mb0 alert-white rounded">
                            <div class="icon"> <i class="fa fa-times-circle"></i> </div>
                            <strong>{{solicitudStatus.msgTitle}}</strong> {{solicitudStatus.msg}}
                        </div>
                    </div>

                    <div class="text-center mt15" ng-if="!solicitudStatus.ok">
                        <button type="button" class="btn  btn-primary btn-rad" data-loading-text="Solicitando..." loading-state="isLoadingSolicitar" ng-click="solicitar()">
                            <span ng-if="solicita.esAnoDigital"> Solicitar imagen al día</span>
                            <span ng-if="!solicita.esAnoDigital"> Solicitar libro</span>
                        </button>
                    </div>

                    <div ng-if="solicitudStatus.ok">
                        <div class="alert alert-success mt15 mb0 alert-white rounded">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            Solicitud realizada.
                        </div>
                    </div>
                </div>
            </div>


            <div ng-if="solicita.tipo==2 || solicita.tipo==0">
                <div class="solicitar-mensaje mt30">
                    <p>Puede <span class="call-sol">solicitar</span> o ver la <span class="call-info">imagen referencial</span>:</p>
                </div>
                <div class="bs-callout bs-callout-warning">
                    <h4>Solicitar</h4>
                    <p>Si solicita recibirá
                        <span ng-if="solicita.esAnoDigital" class="boldie">una digitalización al día.</span>
                    <span ng-if="!solicita.esAnoDigital"><span class="boldie">un libro</span>, aparecerá en el listado de solicitudes como
                        <span class="boldie">Impreso para entrega Manual.</span>
                    </span>
                    </p>

                    <div ng-if="solicitudStatus.error">
                        <div class="alert alert-danger mt15 mb0 alert-white rounded">
                            <div class="icon"> <i class="fa fa-times-circle"></i> </div>
                            <strong>{{solicitudStatus.msgTitle}}</strong> {{solicitudStatus.msg}}
                        </div>
                    </div>

                    <div class="text-center mt15" ng-if="!solicitudStatus.ok">
                        <button type="button" class="btn  btn-primary btn-rad" data-loading-text="Solicitando..." loading-state="isLoadingSolicitar" ng-click="solicitar()">
                            <span ng-if="solicita.esAnoDigital"> Solicitar imagen al día</span>
                            <span ng-if="!solicita.esAnoDigital"> Solicitar libro</span>
                        </button>
                    </div>

                    <div ng-if="solicitudStatus.ok">
                        <div class="alert alert-success mt15 mb0 alert-white rounded">
                            <div class="icon"><i class="fa fa-check"></i></div>
                            Solicitud realizada.
                        </div>
                    </div>

                </div>

                <div class="bs-callout bs-callout-info">
                    <h4>Imagen referencial</h4>
                    <p>Esta inscripción cuenta con una imagen referencial, lo que significa que la imagen puede haber tenido modificaciones o
                        notas desde que se digitalizó, es decir, no está al día.</p>

                    <div class="text-center mt15">
                        <button type="button" class="btn  btn-primary btn-rad" ng-click="verInscripcion()" loading-state="isLoadingSolicitar">
                            <i class="fa fa-search"></i> Ver
                        </button>
                    </div>
                </div>

            </div>

            <div class="bs-callout bs-callout-success" ng-if="solicita.tipo==1">
                <h4>Imagen al día</h4>
                <p>Esta inscripción cuenta con una imagen digitalizada al día, lo que significa que no es necesario solicitarla para ver
                    la imagen más reciente.</p>

                <div class="text-center mt15">
                    <button type="button" class="btn  btn-success btn-rad" ng-click="verInscripcion()" > <i class="fa fa-search"></i> Ver</button>

                </div>
            </div>

        </div>

    </div>


    <div class="modal-footer">
        <button type="button" class="btn  btn-default btn-rad" loading-state="isLoadingSolicitar" ng-click="cancel()">Cerrar</button>
    </div>
</script>
