<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/ng-template" id="transaccionModal.html">

<div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">×</button>
        <h3>Transacci&oacute;n {{caratulaDTO.productoWebDTO.idTransaccion}}</h3>
    </div>

    <div class="modal-body">
        <div>
			
				

	<div class="widget">
									
	<div class="widget-content">
		<div class="form-horizontal borde">

		<div class="row">
			<div class="col-md-12">

               <form class="form-horizontal">
                              <div class="form-group">
                                 <label class="col-sm-3 control-label">#:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                        {{transaccionDTO.id}}
                                     </p>
                                   </div>
                             </div>

                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Fecha:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                        {{transaccionDTO.fechaTransaccion}}
                                     </p>
                                   </div>
                             </div>
          
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Total:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                        {{transaccionDTO.montoTransaccion | myCurrency}}
                                     </p>
                                   </div>
                             </div>

                             <div class="form-group">
                               <label class="col-sm-3 control-label">Estado Pago:</label>
                                 <div class="col-sm-9">
                                  <p class="form-control-static">
                                        <div ng-if="transaccionDTO.estadoActualTransaccion==1">
									    <a class="btn-mini btn" href="<%=basePath%>usuario/transaccion/pagar?idTx={{transaccionDTO.id}}"> Pagar <i class="fa fa-usd"></i> </a>
								    </div>
								   <div ng-if="transaccionDTO.estadoActualTransaccion==6">
									   <span class="label label-info">Procesando</span>
									
									    <br />
									    <p class="help-block text-left">Banco:{{transaccionDTO.pagoNombreBanco}}</p>
									    <p class="help-inf text-left" style="margin-top: 0px;"><i class="fa fa-clock-o"></i> {{transaccionDTO.pagoFechaPago}}</p>
								    </div>
								
								
								    <div ng-if="transaccionDTO.estadoActualTransaccion==3 || transaccionDTO.estadoActualTransaccion==4 || transaccionDTO.estadoActualTransaccion==5">
								     	<span class="label label-success">Confirmado</span>
									     <br />
									     <p class="help-block text-left">Banco:	{{transaccionDTO.pagoNombreBanco}}</p>
									     <p class="help-inf text-left" style="margin-top: 0px;"><i class="fa fa-clock-o"></i> {{transaccionDTO.pagoFechaPago}}</p>
								    </div>		
                                  </p>
                                 </div>
                             </div>


             
				<hr class="hr-marcado"/>

               </form>



			<div ng-repeat="productoWeb in transaccionDTO.productoWebDTOs" class="row">
				<div class="col-md-12">
                   <h4 class="text-center"><span class="label label-default">Trámite #{{$index+1}}</span></h4>                       

                      <form class="form-horizontal ng-pristine ng-valid">
                             <div class="form-group">
                                 <label class="col-sm-3 control-label">Trámite:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                        {{productoWeb.descripcionProducto}}
									     <p class="detail-block  text-left" style="font-weight: bold; margin-top: 8px;"><i class="fa fa-tasks icon-colorGrey"></i> Detalle	</p>
									     <p ng-repeat="glosa in productoWeb.productoGlosa" class="detail-block text-left">&bull;{{glosa}}</p>
                                      </p>
                                   </div>
                             </div>

                            <div class="form-group">
                                 <label class="col-sm-3 control-label">Valor Unitario:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                        {{productoWeb.valorUnitario | myCurrency}}
                                     </p>
                                   </div>
                             </div>

                            <div class="form-group">
                                 <label class="col-sm-3 control-label">Cantidad:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                       {{productoWeb.cantidad}}
                                     </p>
                                   </div>
                             </div>

                            <div class="form-group">
                                 <label class="col-sm-3 control-label">Total:</label>
                                    <div class="col-sm-9">
                                      <p class="form-control-static">
                                       {{productoWeb.valorReal | myCurrency}}
                                     </p>
                                   </div>
                             </div>

                         




						<div class="col-md-12 mt20">
							 <div class="form-group">
								<table class="table table-bordered table-striped table-td13px">
									<thead>
										<tr>
											<th colspan="3" style="text-align: center; background-color: #efefef;">Carátulas Generadas</th>
										</tr>
										<tr>
											<th style="text-align: center;">#</th>
											<th style="text-align: center;">Fecha Creación</th>
											<th style="text-align: center;">Estado</th>
										</tr>
									</thead>

								<tbody>
									<tr ng-if="productoWeb.liquidacionCaratulaDTOs==null || productoWeb.liquidacionCaratulaDTOs.length==0">
											<td colspan="3" style="text-align: center;"><p class="help-block" style="font-style: italic;">No se han generado carátulas</p></td>
									</tr>

									<tr ng-repeat="liqCaratula in productoWeb.liquidacionCaratulaDTOs">
										 <td style="text-align: center;"><a href="" ng-click="verEstadoCaratula(liqCaratula.caratulaDTO.numeroCaratula)">{{liqCaratula.caratulaDTO.numeroCaratula}}</a></td>
																				
										 <td style="text-align: center;">{{liqCaratula.caratulaDTO.fechaCreacion}}</td>
										 <td style="text-align: center;">
											<span class="label" ng-class="liqCaratula.caratulaDTO.estadoActualCaratulaDTO.descripcionEnFlujo=='En Proceso'? 'label-info' : liqCaratula.caratulaDTO.estadoActualCaratulaDTO.descripcionEnFlujo=='Rechazada'? 'label-important' : 'label-success'">{{liqCaratula.caratulaDTO.estadoActualCaratulaDTO.descripcionEnFlujo}}
											</span>
											<br />
											
											<p class="help-block"><i class="fa fa-angle-right"></i> {{liqCaratula.caratulaDTO.estadoActualCaratulaDTO.seccionDTO.descripcion}}</p>
											<p class="help-inf" style="margin-top: 0px;"><i class="fa fa-clock-o"></i> {{liqCaratula.caratulaDTO.estadoActualCaratulaDTO.fechaMov}}	</p>

											<div ng-if="liqCaratula.caratulaDTO.estadoActualCaratulaDTO.descripcionEnFlujo=='Finalizada'">
												<div ng-if="liqCaratula.hayTxDiferencia==false">
												   <div ng-if="liqCaratula.hayDiferencia==true">
													  <br />
                                                      <span class="label label-warning">Hay Diferencia</span>
                                                       <p class="help-block">Se deben pagar
																{{liqCaratula.diferencia | myCurrency}}
																para descargar los documentos. 
													    </p>
													 </div>
													</div>

													<div ng-if="liqCaratula.hayTxDiferencia==true">
													
														<div ng-if="liqCaratula.txDiferenciaDTO.estadoActualTransaccion==1">
															<span class="label label-warning">Hay Diferencia $</span>
																<p class="detail-block">Se deben pagar
																		{{liqCaratula.diferencia | myCurrency}}
																		para descargar los documentos.
																</p>
														 </div>
														
														 <div ng-if="liqCaratula.txDiferenciaDTO.estadoActualTransaccion==6">
															<p class="help-block" style="margin-top: 15px; font-weight: bold;">Pago de Diferencia:																
																<span class="label label-waiting">Procesando</span> 
															</p>	
															<p class="help-block">Banco:{{liqCaratula.txDiferenciaDTO.pagoNombreBanco}}</p>
																<p class="help-inf" style="margin-top: 0px;">
																	<i class="fa fa-clock-o"></i> {{liqCaratula.txDiferenciaDTO.pagoFechaPago}}
															    </p>
														  </div>
														 
														  <div ng-if="liqCaratula.txDiferenciaDTO.estadoActualTransaccion==3 || liqCaratula.txDiferenciaDTO.estadoActualTransaccion==4">
															  <p class="help-block" style="margin-top: 15px; font-weight: bold;">Pago de Diferencia:																
																<span class="label label-success">Confirmado</span> 
															  </p>	
														      <p class="help-block">
																 	Banco: {{liqCaratula.txDiferenciaDTO.pagoNombreBanco}}
															  </p>
															  <p class="help-inf" style="margin-top: 0px;">
																 <i class="fa fa-clock-o"></i> {{liqCaratula.txDiferenciaDTO.pagoFechaPago}}
															  </p>
														  </div>


														</div>



											</div>
										 </td>
									</tr>

									</tbody>
								</table>

							</div>

						</div>
						
						
						<hr class="hr-marcado" />
					
  
                      </form>
				</div>
			  </div>		

			<div class="row">
				<div class="col-md-12 mt20">						
					<h2><small>Notificaciones</small></h2>
						
					<table ng-if="transaccionDTO.productoWebDTOs[0].productoReceptorEmailDTOs.length==null || transaccionDTO.productoWebDTOs[0].productoReceptorEmailDTOs.length==0" class="table table-striped">
						<thead>
						  <tr>
							<td colspan="2">No hay destinatarios</td>
						  </tr>
						</thead>
						<tbody>

						</tbody>
					</table>
					<table ng-if="transaccionDTO.productoWebDTOs[0].productoReceptorEmailDTOs.length>0" class="table table-striped">
						<thead>
						  <tr>
							<td colspan="2">Los siguientes correos serán notificados:</td>
						  </tr>
						</thead>
						<tbody>
						   <tr ng-repeat="mail in transaccionDTO.productoWebDTOs[0].productoReceptorEmailDTOs">
							 <td>{{mail.nombreCorto}}</td>
							 <td>{{mail.eMail}}</td>
						   </tr>
						</tbody>
					</table>
						<hr class="hr-marcado">

							<h2><small>Boleta</small></h2>
						
						<div ng-if="transaccionDTO.productoWebDTOs.length>0">
							<label> La boleta será emitida a nombre de {{transaccionDTO.productoWebDTOs[0].nombreBoleta}}&nbsp;{{transaccionDTO.productoWebDTOs[0].apellidoPaternoBoleta}}&nbsp;({{transaccionDTO.productoWebDTOs[0].rutBoleta}} - {{transaccionDTO.productoWebDTOs[0].dvBoleta}}) 
							</label>
						</div>
						
					</div>
				</div>




			</div>										
		</div>
															
		</div>
						

   		
   		<div ng-if="states.buscar.isError" class="row mt35">
	        <div class="col-md-6 col-md-offset-3">
	            <div class="block-transparent">
	                <div class="content">
	                    <div class="text-center">
	                        <div class="i-circle danger"><i class="fa fa-times"></i></div>
	                        <p>{{states.buscar.msg}}</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>				
			
        </div>
    </div>

		
		
		</div>
	</div>
		
		
<div class="modal-footer">			
			<button ng-click="cancel()"  class="btn btn-primary btn-rad" type="button"  loading-state="isLoadingSolicitar" >Cerrar</button>
		</div>


<div ng-include="'views/estadoIndiceModal.html'"></div> 



</script>


